.home-view {
  position: relative;
  margin-top: 60px;
}

.back_button {
  position: absolute;
  z-index: 100;
}

.card-shadow {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border: none;
  background-color: #f8f9fa;
  max-width: 1200px;
  margin-left: 200px;
}

.author-box {
  background-color: rgb(17, 167, 226);
  color: white;
  padding: 0.25rem 0.5rem;
  width: auto;
  display: inline-block;
  border-radius: 0.25rem;
}

.title-font-size {
  font-size: 1.2rem;
  font-weight: bold;
  font-family: 'Times New Roman';
}

.content-font-size {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Arial';
}

.text-color {
  color: #6c757d;
}