.author-box {
    background-color: rgb(17, 167, 226);
    color: white;
    padding: 0.25rem 0.5rem;
    width: auto;
    display: inline-block;
    border-radius: 0.25rem;
}

.back_button {
    position: absolute;
    z-index: 100;
}

.title-font-size {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Times New Roman';
}

.content-font-size {
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'Arial';
}

.text-muted {
    font-size: 14px;
}